<!DOCTYPE>
<html>
<head>
  <title>Add</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1 class="text-center" style="background-color: aqua;" >Thêm Sản phẩm</h1>
    <hr><br>
    <form method="post" action="/products">
      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Mã sản phẩm: </label>
        <input class="col-lg-4" required type="text" id="idSP" name="idSP" placeholder="Nhập Mã sản phẩm">
        
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Tên sản phẩm: </label>
        <input class="col-lg-4" required type="text" id="nameSP" name="nameSP" placeholder="Nhập Tên sản phẩm">
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Đơn giá: </label>
        <input class="col-lg-4" required type="text" id="priceSP" name="priceSP" placeholder="Nhập Đơn giá">
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Màu sắc: </label>
        <input class="col-lg-4" required type="text" id="colorSP" name="colorSP" placeholder="Nhập Màu sắc">
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Hình ảnh: </label>
        <input class="col-lg-4" required type="file" id="ImgSP" name="ImgSP" accept="image/*" />
      </div>
    <br>
      <div class="text-center">
      <button type="submit" class="btn btn-primary" >Thêm</button>
      <button type="reset" class="btn btn-primary" onclick="Back()" >Hủy</button>
      </div>

    </form>
  </div>
</body>
<script>
  function Back(){
          history.back();
      }
</script>
</html>
