<!DOCTYPE>
<html>
<head>
  <title>Users</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
  <h1>Users</h1>
  <hr>
  <h2 style="background-color: aqua;">Danh sách user</h2> <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tên </th>
        <th>Email </th>
        <th>Mật khẩu</th>
        <th>Ảnh đại diện</th>
        <th>Chức năng</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Tên: {{name}}</td>
        <td>Email: {{email}}</td>
        <td>MK</td>
        <td>Avt</td>
        <td>Sửa/xóa</td>
      </tr>
      
    </tbody>

  </table>
</div>

</body>
</html>